  <!-- Bottom Menu Bar -->
  <div class="bg-accent flex items-center justify-around w-full py-1">
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="./how-to-use">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">
          bigtop_updates
        </span>
        <p class="text-sm font-tsl_title text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">　使い方　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="./column">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">
          local_activity
        </span>
        <p class="text-sm font-tsl_title text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">　コラム　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="./map">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">
          map
        </span>
        <p class="text-sm font-tsl_title text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">　マップ　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="./community">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>">
          diversity_1
        </span>
        <p class="text-sm font-tsl_title text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>">コミュニティ</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="./my-page">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">
          language
        </span>
        <p class="text-sm font-tsl_title text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">マイページ</p>
      </a>
    </span>
  </div>