  <!-- Bottom Menu Bar -->
  <div class="absolute bottom-0" style="width: 100%; display: flex; justify-content: space-around;">
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="#">
        <span class="material-symbols-outlined">
          bigtop_updates
        </span>
        <p>新着</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="#">
        <span class="material-symbols-outlined">
          local_activity
        </span>
        <p>イベント</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link active" aria-current="page" href="./">
        <span class="material-symbols-outlined">
          map
        </span>
        <p>地図</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="#">
        <span class="material-symbols-outlined">
          diversity_1
        </span>
        <p>コミュニティ</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="./about">
        <span class="material-symbols-outlined">
          language
        </span>
        <p>About</p>
      </a>
    </span>
  </div>