  <!-- Bottom Menu Bar -->
  <div class="absolute bottom-0" style="width: 100%; display: flex; justify-content: space-around;">
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="./how-to-use">
        <span class="material-symbols-outlined">
          bigtop_updates
        </span>
        <p>使い方</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="./column">
        <span class="material-symbols-outlined">
          local_activity
        </span>
        <p>コラム</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link active" aria-current="page" href="./map">
        <span class="material-symbols-outlined">
          map
        </span>
        <p>地図</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="./community">
        <span class="material-symbols-outlined">
          diversity_1
        </span>
        <p>コミュニティ</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link" aria-current="page" href="./my-page">
        <span class="material-symbols-outlined">
          language
        </span>
        <p>マイページ</p>
      </a>
    </span>
  </div>