  <!-- Bottom Menu Bar -->
  <div class="bg-accent flex items-center justify-evenly w-full py-1">
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/how-to-use">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">
          menu_book
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">　使い方　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/new-posts">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">
          list_alt
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">　リスト　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/map">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">
          pin_drop
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">　マップ　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/column">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>">
          emoji_objects
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>">　コラム　</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/my-page">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">
          account_circle
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">マイページ</p>
      </a>
    </span>
  </div>