  <!-- Bottom Menu Bar -->
  <div class="bg-accent flex items-center justify-evenly w-full py-1">
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/how-to-use">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">
          menu_book
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 1) { %>text-white<% } -%>">使い方</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/new-posts">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">
          list_alt
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 2) { %>text-white<% } -%>">リスト</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/map">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">
          pin_drop
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 3) { %>text-white<% } -%>">マップ</p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/add-post">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>">
          add_circle
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 4) { %>text-white<% } -%>"> 投稿 </p>
      </a>
    </span>
    <span class="text-center">
      <a class="nav-link flex flex-col items-center" aria-current="page" href="/others">
        <span class="material-symbols-outlined text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">
          more_horiz
        </span>
        <p class="text-xs font-tsl_title text-gray-300 <% if (currentMenu === 5) { %>text-white<% } -%>">その他</p>
      </a>
    </span>
  </div>