<!-- As a heading -->
<div>
<nav class="navbar p-0">
  <div class="flex items-center">
    <img src="images/tsl.png" width="40px" class="inline"/>
    <span class="mb-0 font-tsl_title text-accent text-xl">東京散歩ライフ</span>
  </div>
</nav>
</div>