<!-- As a heading -->
<div>
<nav class=" p-0">
  <div class="flex justify-center items-center">
    <img src="/images/tsl.png" width="40px" class="inline"/>
    <div class="mb-0 font-tsl_title text-accent text-2xl">東京散歩ライフ</div>
    <img src="/images/tsl.png" width="40px" class="inline"/>
  </div>
</nav>
</div>