<div class="grow flex justify-center items-center">
  <div>
    <p class="text-center">🥳この機能は、<br />ログインしたら使えるようになります〜。</p>
    <p class="text-center">ログインまたは新規登録を行うには、<br />右上のユーザアイコンをクリックしてください。</p>
  </div>
</div>