<div>
  <% if (user !==undefined) { %>
    <form action="/posts/<%= postId %>/comments" method="POST" onsubmit="return confirm('コメントを送信してよろしいですか？');">
      <textarea name="comment" required class="form-control" id="exampleFormControlTextarea1" maxlength="100"
        rows="3" placeholder="あなたのコメント"></textarea>
      <%- include('../../partials/util/icon-button', {label: "送信" , typeSubmit: true,
        googleIconName: "upload" }); %>
    </form>
    <% } else { %>
      <%- include('../common/urge-login'); %>
    <% } %>
</div>