<div class="flex items-center">
  <img class="ml-1" width="40px" height="40px" src="<%= iconUrl %>" 
    style="border: 2px solid #ff0099; border-radius:50%;" />
  <span class="font-bold font-tsl_title text-accent pl-2" style="font-family:Kaisai Decol;">
    <%= userName %>
  </span>
</div>