<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/">

<head>
  <%- include('../partials/common/head'); %>
    <style>
      h2 {
        font-family: 'Kaisei Decol';
        font-size: large;
        color: #ff0099;
      }
    </style>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/common/header', {user: user}); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../partials/common/page-title', {title: '使い方' }); %>
          <div class="bg-gray w-full p-2">
            <div class="p-2 border rounded-lg">
              <h2>💡&nbsp;近くで散歩に良い場所を簡単に見つけられる</h2>
              <p class="mt-1">
                散歩の口コミ情報が閲覧できます。<br />
                東京だけでなく、神奈川、埼玉、千葉など、東京から日帰りで行ける範囲もカバーしています。<br />
                下の「マップ」から探してみましょう😊。<br />
                気に入っていただけたら、このサイトのことを、Xで拡散をお願いします〜🙏。
              </p>
            </div>
            <div class="mt-2 p-2 border rounded-lg">
              <h2>👣&nbsp;今日の歩数を投稿しよう</h2>
              <p class="mt-1">
                X（ツイッター）経由で、あなたの歩数を共有できます🌏。<br />
                下の「投稿」から試してみましょう。
              </p>
            </div>
            <div class="mt-2 p-2 border rounded-lg">
              <h2>📸&nbsp;あなたのオススメの散歩場所を投稿しよう</h2>
              <p class="mt-1">
                スマホから簡単に投稿できます。<br />
                下の「投稿」からできます。<br />
                （ログインが必要です）
              </p>
            </div>
            <div class="mt-2 p-2 border rounded-lg">
              <h2>🗣&nbsp;SNSで交流しよう</h2>
              <p class="mt-1">
                X（ツイッター）やインスタグラムで、やりとりしましょう。<br />
                ハッシュタグは、「<span class="text-blue-700">#東京散歩ライフ</span>」です。
              </p>
            </div>
            <div class="mt-2 mt-0 p-2 border rounded-lg">
              <h2>👨‍👩‍👧‍👦&nbsp;オフ会に参加してみよう</h2>
              <p class="mt-1">
                LINEのオープンチャットで、東京散歩ライフのオフ会を定期的にやってます。開催は土日祝です。<br />
                公園🏞や神社⛩など、有名な観光地からマイナーなスポットまで、様々な場所を巡っています。いつも穏やかな雰囲気ですよ😌。<br />
                少人数制の承認方式を取っており、メンバーは皆顔見知りなので、安心して参加できます😄。<br />
                興味のある方は、まずはゲストとしてご参加いただき、その後は任意で加入いただければと思います。
              </p>
              <p>
                オフ会の情報は、随時Xに載せています。<br />
                ゲスト参加のお申し込みは、XからDMを送ってください〜😇。<br />
                <a href="https://twitter.com/tokyosanpolife">@tokyosanpolife</a>
              </p>
            </div>
          </div>
      </div>
      <%- include('../partials/common/footer', {currentMenu: 1}); %>
  </div>
</body>

</html>