<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="flex-grow">
        <h1>ログイン</h1>
        <form action="/login" method="post">
          <input class="mt-3 btn btn-primary border-accent bg-accent w-full" type="submit" value="ログイン">
        </form>
        <h1>新規登録</h1>
        <small>アカウントを登録することにより、以下の内容に同意したとみなされます。
          <ul>
            <li><a href="./others/terms-of-services">利用規約</a></li>
            <li><a href="./others/privacy-policy">プライバシーポリシー</a></li>
            <li><a href="./others/cookie-policy">クッキーポリシー</a></li>
          </ul>
        </small>

      </div>
      <%- include('../partials/footer', {currentMenu: 5}); %>

        <!-- Toast -->
        <div class="position-fixed top-50 start-50 translate-middle p-3" style="z-index: 11">
          <div id="liveToast" class="toast hide" data-bs-delay="2000" role="alert" aria-live="assertive"
            aria-atomic="true">
            <div class="toast-header">
              <img src="/images/tsl-symbol/kkrn_icon_kirakira_2.svg" width="30px" class="rounded me-2" alt="tsl-light">
              <strong class="me-auto">ログアウトしました</strong>
            </div>
            <!-- <div class="toast-body">
                        Hello, world! This is a toast message.
                      </div> -->
          </div>
        </div>
        <script>
          window.onload = (() => {
            let toast = false;
            <% if (/* if toast is defined and true */ locals.toast === true) { %>
              toast = true;
            <% } %>
            if (toast) {
              const toastLiveExample = document.getElementById('liveToast')
              const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
              toastBootstrap.show();
            }
          });
        </script>
  </div>
</body>

</html>