<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/common/head'); %>
  
  <!-- prettier-ignore -->
  <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
      ({ key: googleMapsAPIKey, v: "weekly" });</script>
  <script src="/javascripts/tslDef.js?ver=20240105234108"></script>
  <script>
    var targetPosts = JSON.parse('<%- JSON.stringify(targetPosts) %>');
  </script>
  <script src="/javascripts/tslGMapUtil.js?ver=20240105234108"></script>
  <script src="/javascripts/mapPage.js?ver=20240105234108"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../partials/common/header'); %>

    <!-- Main Body -->
    <div id="map" style="flex-grow: 1;"></div>

    <!-- The Modal -->
    <div id="info" class="overflow-y-scroll" style="display:none; height:calc(50svh); overflow-y: scroll;">情報ウィンドウ表示場所</div>
    <%- include('../partials/common/footer', {currentMenu: 3}); %>
  </div>
</body>

</html>