<!-- [BEGIN] Footer Menu -->
<div class="bg-accent flex items-center justify-evenly w-full">
  <span class="text-center">
    <a class="nav-link flex flex-col" aria-current="page" href="/how-to-use">
      <span
        class="material-symbols-outlined text-gray-300 align-[-6px] <% if (currentMenu === 1) { %>text-white<% } -%>">
        menu_book
      </span>
      <p class="m-0 font-tsl_title text-sm text-gray-300 <% if (currentMenu === 1) { %>text-white font-bold<% } -%>">使い方
      </p>
    </a>
  </span>
  <span class="text-center">
    <a class="nav-link flex flex-col" aria-current="page" href="/new-posts">
      <span
        class="material-symbols-outlined text-gray-300 align-[-6px] <% if (currentMenu === 2) { %>text-white<% } -%>"">
          list_alt
        </span>
        <p class=" m-0 font-tsl_title text-sm text-gray-300 <% if (currentMenu===2) { %>text-white font-bold<% } -%>
          ">リスト</p>
    </a>
  </span>
  <span class="text-center">
    <a class="nav-link flex flex-col" aria-current="page" href="/map">
      <span
        class="material-symbols-outlined text-gray-300 align-[-6px] <% if (currentMenu === 3) { %>text-white<% } -%>">
        pin_drop
      </span>
      <p class="m-0 font-tsl_title text-sm text-gray-300 <% if (currentMenu === 3) { %>text-white font-bold<% } -%>">マップ
      </p>
    </a>
  </span>
  <span class="text-center">
    <a class="nav-link flex flex-col" aria-current="page" href="/add-record">
      <span
        class="material-symbols-outlined text-gray-300 align-[-6px] <% if (currentMenu === 4) { %>text-white<% } -%>">
        add_circle
      </span>
      <p class="m-0 font-tsl_title text-sm text-gray-300 <% if (currentMenu === 4) { %>text-white font-bold<% } -%>">
        &nbsp;&nbsp;投稿&nbsp;&nbsp;</p>
    </a>
  </span>
  <span class="text-center">
    <a class="nav-link flex flex-col" aria-current="page" href="/others">
      <span
        class="material-symbols-outlined text-gray-300 align-[-6px] <% if (currentMenu === 5) { %>text-white<% } -%>">
        more_horiz
      </span>
      <p class="m-0 font-tsl_title text-sm text-gray-300 <% if (currentMenu === 5) { %>text-white font-bold<% } -%>">その他
      </p>
    </a>
  </span>
</div>
<!-- [  END] Footer Menu -->