<!-- As a heading -->
<div>
  <nav class=" p-0">
    <div class="flex justify-between items-center px-2">
      <div class="material-symbols-outlined text-accent text-3xl <% if (/* if showBack is not defined */ !locals.showBack) { %>invisible<% } %>"
        onclick="history.back()">
        arrow_back
      </div>
      <div class="flex justify-center items-center">
        <img src="/images/tsl.png" width="40px" class="inline" />
        <div class="mb-0 font-tsl_title text-accent text-2xl">東京散歩ライフ</div>
        <img src="/images/tsl.png" width="40px" class="inline" />
      </div>
      <a class="nav-link flex flex-col items-center" href="/login">
        <% if (user === undefined) { %>
          <span class="material-symbols-outlined text-accent text-3xl">
            account_circle
          </span>
        <% } else { %>
          <img width="30px" height="30px" src="<%= user.iconUrl %>" style="border: 2px solid #ff0099; border-radius:50%;" />
        <% } %>
      </a>
    </div>
  </nav>
</div>