<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
      <%- include('../partials/header'); %>
      <!-- Main Body -->
      <div class="grow">
        <h1>コラム</h1>
        <p>散歩、健康などに関する読み物を時々投稿します！</p>
      </div>
      <%- include('../partials/footer', {currentMenu: 2}); %>
    </div>
  </body>
</html>
