<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
    <%- include('../partials/header'); %>
    <!-- Main Body -->
    <div class="flex-grow">
      <h1>東京散歩ライフとは</h1>
      <p>近くに散歩するところ、ないかな？という人のために、地図で簡単に散歩場所が探せるサービスです！</p>
      <p>できること</p>
      <ol>
        <li>近くの散歩の口コミが見れる</li>
        <li>口コミを投稿・管理できる（ログイン後）</li>
      </ol>
    </div>
    <%- include('../partials/footer', {currentMenu: 1}); %>
    </div>
  </body>
</html>
