<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
    <%- include('../partials/header'); %>
    <!-- Main Body -->
    <div class="flex-grow">
      <h1>東京散歩ライフとは</h1>
      <p>
        ログイン機能を設ける予定。
      </p>
    </div>
    <%- include('../partials/footer', {currentMenu: 5}); %>
    </div>
  </body>
</html>
