<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div class="flex flex-col min-h-screen">
    <%- include('../partials/header'); %>
    <!-- Main Body -->
    <div class="flex-grow">
      <h1>新着投稿</h1>
      <p>
        最近投稿された一覧です。
      </p>
    </div>
    <%- include('../partials/footer', {currentMenu: 2}); %>
    </div>
  </body>
</html>
