<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/head'); %>
  <style>
    h2 {
      font-size: large;
    }
  </style>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/header', {user: user}); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/page-title', {title: 'このサイトについて' }); %>
          <div class="p-1">
            <h2>目的</h2>
            <p>管理人は、散歩好きなエンジニアです。そこで散歩情報を集めたサイトを作ろうと思いました。無料でお使いいただけます。</p>
            <h2>本サービスに関するお問い合わせ先</h2>
            X（旧：ツイッター）からDMをください。
            <p><a href="https://twitter.com/tokyosanpolife">@tokyosanpolife</a></p>
            <h2>想定デバイス</h2>
            <p>スマホを縦向き🤳で快適にお使いいただけるデザインにしています。</p>
            <h2>スペシャルサンクス</h2>
            <p>本Webアプリ作成でお世話になった方々・サイトを紹介いたします😊。</p>
            <dl>
              <dt><a href="https://kiyaku.jp/index.html">Webサイトの利用規約</a></dt>
              <dd>利用規約・プライバシーポリシー・クッキーポリシーでお世話になりました。</dd>
            </dl>
            <dl>
              <dt><a href="https://kotonohaworks.com/">コトノハワークス</a></dt>
              <dd>キラキラマークのアイコンを使用させていただきました。</dd>
            </dl>
          </div>
      </div>
      <%- include('../../partials/footer', {currentMenu: 5}); %>
  </div>
</body>

</html>