<!DOCTYPE html>
<html>

<head>
  <%- include('../../partials/common/head'); %>
  <style>
    h2 {
      font-size: large;
    }
  </style>
</head>

<body>
  <div class="flex flex-col" style="min-height: 100svh; max-height: 100svh;">
    <%- include('../../partials/common/header', {user: user}); %>
      <!-- Main Body -->
      <div class="grow overflow-y-scroll">
        <%- include('../../partials/common/page-title', {title: '開発者紹介' }); %>
          <div class="p-1">
            <h2>名前など</h2>
            <p>
              Yasu（散歩エンジニア）🚶‍♂️<br />
              屋号：LIBERTY
            </p>
            <h2>自己紹介</h2>
            <p>
              普段は上流工程のお仕事をしていますが、プログラムも書けます。<br />
              プログラム言語は10個ほどやりましたが、最近は、TypeScriptを書くことが多いです。<br />
              フィリピンで語学留学したり、シンガポールで働いたり、マレーシアの大学院に行ってました。<br />
              神奈川県の溝ノ口で、IT勉強会をやってます。ご興味のある方は連絡ください〜😀。
            </p>
            <h2>経歴</h2>
            <p><a href="https://www.linkedin.com/in/takeharayasushi">LinkedIn</a></p>
            <h2>連絡先</h2>
            <p>X（旧：ツイッター）からDMをください。</p>
            <p><a href="https://twitter.com/TakeharaBiz">@TakeharaBiz</a></p>
            <h2>趣味</h2>
            <p>散歩🚶‍♂️、旅行🚞、カメラ📸、ピアノ🎹、ジム🏃‍♂️、温泉♨️</p>
          </div>
      </div>
      <%- include('../../partials/common/footer', {currentMenu: 5}); %>
  </div>
</body>

</html>